@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');

body{
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body p, body h3, body h4, body ul{
    margin: 5px;
}

img{
    margin: auto;
    max-width: 100%;
    height: auto;
}

.shift{
    margin-left: 330px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;

}

#navbar{
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: black;
}

#navbar a{
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
  }

  button{
    margin-left: auto;
    font-size: 20px;
    position: sticky;
    bottom: 20px;
    overflow: hidden;
    background-color: lightblues;
  }

  a:link{
    color: #6900ff;
  }

  a:visited {
    color: red;
  }
  
  a:focus {
    text-decoration: none;
    background: lightblue;
  }
  
  a[href^="#"]:hover {
    text-decoration: none;
    background: yellow;
  }
  
  a:active {
    background: #6900ff;
    color: #cdfeaa;
  }
  


@media only screen and (max-width: 600px){
    img{
        max-width: 100%;
        height: auto;
    }

    button{
        margin: 0;
        bottom: 0px;
    }
}

