body{
    margin: 0;
    font-size: 28px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img{
    margin: auto;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;

}

#navbar{
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: black;
}

#navbar a{
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

@media only screen and (max-width: 600px){

}
